.search-form {
  position: fixed;
  width: 100%;
  padding: 30px 0;
  background-color: rgba(47, 85, 238, 0.75);
  display: flex;
  justify-content: center;
  gap: 20px;
  z-index: 2;
  top: 0;
  left: 0;
}

.search-form > button {
  color: #2f55ee;
  background-color: aliceblue;
}

.search-form > button:disabled {
  opacity: 1;
  background-color: rgb(180, 182, 183);
  color: rgb(99, 99, 99);
  pointer-events: none;
}

.search-form > button:hover,
.search-form > button:focus,
.search-form > button:active {
  background-color: rgb(195, 226, 254);
}

.search-form > input {
  width: 200px;
}

button {
  border-radius: 4px;
  width: 120px;
  padding: 6px 8px;
  border: none;
  outline: none;
  cursor: pointer;
}
